<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły książki</title>
</head>
<body>
    <h2> {{ book.author_name }} {{ book.author_lastname }} "{{ book.title }}" </h2>
    <form method="POST" action="/library/{{ book_id }}/">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}<br>
        {{ field.label }} {% if field.flags.required %}*{% endif %},
        {{ field }} <br>
        {% endfor %}<br>

        <input type="submit" value="Zmień">
    </form><br>
    <form method="POST" action="/delete/{{ book.id }}/">
        <input type="submit" value="Usuń">
    </form>
    <p>Status książki: <span style="color: lime">{{ book.status.upper() }}</span></p>

    <form method="POST" action="/borrow/{{ book.id }}/">
        <input type="submit" value="Pożycz">
    </form>
</body>
</html